// Search Area start
.searchArea {
    background-color: rgb(255, 101, 1);
    padding: 10px;
    margin-top: -10px;
    border-radius: 0 0 4px 4px;
}

::placeholder { /* Firefox */
    font-style: italic;
    opacity: .5;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
    opacity: .5;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
    opacity: .5;
}

.buttons {
    display: flex;
    justify-content: center;

    button {
        margin: 10px;
    }
}

#mobileMenu {
    display: none;
}

@media (max-width: 960px) {
    nav { display: none; }
    #mobileMenu { display: block; }
}
// Search Area end